<html>
<html>
<head>
    <title>Kiểm tra Anh Văn 6 </title>
    <meta charset="utf-8">
</head>
<body>
<center>
    <table border="0">
        <tr>
			<th><iframe src="https://drive.google.com/file/d/1cw6JHIvrC2bckvxc27Iw-7Nr8A7F3gbh/preview" width="1000" height="600" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			</th>
            <th>ocs.google.com
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfKbomdnLe0x9cz6zUyEuDBhbmeotm9eyEi7tSVf-Ad2VslwQ/viewform?embedded=true" width="360" height="580" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			<center><font color="red">Design by:Trường THCS Lê Thị Hồng Gấm </font></center>
			</th>
        </tr>
    </table>
</center>
</body>
</html>
