<html>
<head>
    <title>kiểm tra Anh văn 6</title>
    <meta charset="utf-8">
</head>
<body>
<center>
    <table border="0">
        <tr>
			<th><iframe src="https://drive.google.com/file/d/1Rn7e080FtgUHRFKC0ONKqys4ctoM2Poo/preview" width="1000" height="600" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			</th>
            <th>ocs.google.com
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSePxgGVB48DYtjKa4fjWAIWwvbPZJM_9j_WMOn3CxNy0CJH0Q/viewform?embedded=true" width="360" height="580" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			<center><font color="blue">Trường: THCS Lê Thị Hồng Gấm </font></center>
			</th>
        </tr>
    </table>
</center>
</body>
</html>

