<html>
<html>
<head>
    <title>kiểm tra Anh văn 8</title>
    <meta charset="utf-8">
</head>
<body>
<center>
    <table border="0">
        <tr>
			<th><iframe src="https://drive.google.com/file/d/1U8q_bTd4I_r20y5VJQhbHpn40uRXjacp/preview" width="1000" height="600" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			</th>
            <th>ocs.google.com
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeTIIo1Qxc5PbwU-_zVCJBcbcL0E33sGlDo5vNwAa3ea-KjaA/viewform?embedded=true" width="360" height="580" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			<center><font color="blue">Thiết kế:Trường THCS Lê Thị Hồng Gấm </font></center>
			</th>
        </tr>
    </table>
</center>
</body>
</html>


