<html>
<head>
    <title>Đề thi toán 6</title>
    <meta charset="utf-8">
</head>
<body>
<center>
    <table border="0">
        <tr>
			<th><iframe src="https://drive.google.com/file/d/1rKBugfEG84yKwcfr0FpHgcKXR9yHLm7R/preview" width="1000" height="600" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			</th>
            <th>ocs.google.com
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFhPO9E0f3IoQ06b0KEKaNKg_o5doLs-CVXaFMmC30WMTuzw/viewform?embedded=true" width="360" height="580" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			<center><font color="blue">Thiết kế: THCS Lê Thị Hồng Gấm </font></center>
			</th>
        </tr>
    </table>
</center>
</body>


