<html>
<head>
    <title>Bài tập trắc nghiệm</title>
    <meta charset="utf-8">
</head>
<body>
<center>
    <table border="0">
        <tr>
			<th><iframe src="https://drive.google.com/file/d/1uJ21NfoGTf5mNWmntBBwFGRycHIjNFPb/preview" width="1000" height="600" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			</th>
            <th>ocs.google.com
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeBMPtLiphwA3xDoQnOIUnncUSxf2QnjeRtKVV4OVP_ScnBTw/viewform?embedded=true" width="360" height="580" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			<center><font color="blue">Thiết kế: Phạm văn Thủy </font></center>
			</th>
        </tr>
    </table>
</center>
</body>
</html>

