<html>
<html>
<head>
    <title>Kiểm tra Toán 7</title>
    <meta charset="utf-8">
</head>
<body>
<center>
    <table border="0">
        <tr>
			<th><iframe src="https://drive.google.com/file/d/1SmRBz8oaI38iam2pOhatB2D-S08NzdOk/preview" width="1000" height="600" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			</th>
            <th>ocs.google.com
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfVtzv9BYB1LgDpL3NOPdRquMf3w46GgLc4Cuwj5nkfBSeyvw/viewform?embedded=true" width="360" height="580" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
			<center><font color="blue">Thiết kế:Trường THCS Lê Thị Hồng Gấm </font></center>
			</th>
        </tr>
    </table>
</center>
</body>
</html>